@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    padding: 150px 180px 0 180px;
}
li, a{
    color: #454545;
    text-decoration: none;
}
img:hover{
    transform: translateY(-10px);
}
.last__updated{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: gray;
    font-style: italic;
}

/* -----------about---------- */
#about{
    padding: 20px 0;
    /* background-color: #24252A; */
    /* color: #fff; */
}

.nav__links{
    list-style-type: none;
    /* setting main axis, which is horizontal, can change this with flex-direction. default is row. */
    display: flex; 
    /* justify-content: space-between; */
    /* aligning items on the main content */
    justify-content: flex-end;
    /* aligning items on the cross axis, vertical */
    align-items: center;
}
.nav__links li{
    display: inline-block;
}

/* .nav__links li a{
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
    position: relative;
} 
.nav__links li a:hover{
    background-color: #6e7070;
} */

.nav__links li a {
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
    position: relative; /* Add this line */
}
.nav__links li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #454545;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: width 0.3s;
}
.nav__links li a:hover::after {
    width: 100%;
}
.header__text{
    margin-top: 5%;
    font-size: 30px;  
}
.header__text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header__text h4{
    font-weight: 400;
}
.header__text p{
    font-size: 16px;
    margin-bottom: 10px;
}
/* icons */
.header__text a{
    color:cadetblue;
    text-decoration: none;
    font-size: 30px;
}
#resume__button{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    position: relative;
    bottom: 5px;
}

/* ----------portfolio--------- */
#portfolio{
    padding: 40px 0;
}
.portfolio__list{
    flex-direction:column;
    display: flex;
    align-content: space-between;
}
.portfolio__list img{
    width: 50%;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s;
}
.work__evidence{
    margin: 10px 0;
}
.portfolio__list h2{
    padding-top: 20px;
    font-size: 24px;
}
.portfolio__list p{
    font-size: 16px;
}

/* ----------projects--------- */
#projects{
    padding: 40px 0;
}
/* .__subtitle{
    background-color: green;
} */
.work__list{
    flex-direction:column;
    display: flex;
    align-content: space-between;
}
.work{
    margin: 10px 0;
    /* background-color: #454545; */
}
.work__list img{
    width: 250px;
    height: 350px;
    margin-right: 15px;
    justify-content: center;
    float: left;
    transition: transform 0.5s;
}
/* .work__list img:hover{
    transform: translateY(-10px);
    this is at the top 
} */
.work__list h2{
    padding-top: 20px;
    font-size: 24px;
}
.work__list p{
    font-size: 16px;
}

/* ------------contact----------- */
#contact{
    padding: 20px 10%;
    margin-bottom: 80px;
}

.links {
    text-align: center;
}

.links h2 {
    margin-bottom: 20px;
}

/* icons */
.container {
    display: flex;
    justify-content: center;
}

.container a {
    margin: 0 10px;
    color:cadetblue;
}

/* --------footer-----------*/
footer {
    /* color: #fff; */
    text-align: center;
    padding: 20px;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    margin-top: 10px; /* Adjust margin-top to match the body padding */
}